@model IEnumerable<EFGesAgro.Models.CustoPrevisto>

@{
    ViewBag.Title = "Custos realizado";
}
<!DOCTYPE html>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Custo realizado
                <div class="pull-right">
                    @Html.ActionLink("Novo", "Adicionar", "CustoRealizado", null, new { @class = "btn btn-primary btn-xs btn-filter" })
                </div>
                </h3>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Código")
                            </th>
                            <th>
                                @Html.DisplayName("Propriedade rural")
                            </th>
                            <th>
                                @Html.DisplayName("Talhão")
                            </th>
                            <th>
                                @Html.DisplayName("Cultura")
                            </th>
                            <th>
                                @Html.DisplayName("Item")
                            </th>
                            <th>
                                @Html.DisplayName("Valo R$")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CusPrevCod)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Talhao.Fazenda.FazNom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Talhao.TlhDes)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Talhao.Cultura.CulNom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustoItens.CusItmDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CusPrevVlr)
                                </td>

                                <td>
                                    @Html.ActionLink("Editar", "Editar", new { CusPrevCod = item.CusPrevCod }, new { @class = "btn btn-primary btn-xs" })
                                    <!--@Html.ActionLink("Detalhes", "Detalhes", new { CusPrevCod = item.CusPrevCod }) -->
                                </td>
                                <td>
                                    @Html.ActionLink("Excluir", "Excluir", new { CusPrevCod = item.CusPrevCod }, new { @class = "btn btn-danger btn-xs excluir" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @section Scripts{
                    <script>
                        $(function () {
                            var linhaAtual;

                            $("#menuCustoRealizado").addClass("active");

                            $(".excluir").on("click", function () {
                                if (confirm("Confirma a exclusão do custo realizado?")) {
                                    var urlExclusao = $(this).attr("href");
                                    linhaAtual = $(this).closest("tr");

                                    $.ajax({
                                        url: urlExclusao,
                                        type: "POST"
                                    }).done(function (excluiu) {
                                        if (excluiu) {
                                            linhaAtual.remove();
                                        } else {
                                            alert("Ocorreu algum problema na exclusão do custo realizado :(");
                                        }
                                    }).fail(function () {
                                        alert("Ocorreu algum erro :(");
                                    });
                                }

                                return false;
                            });
                        });

                    </script>
                }

                <div class="clearfix">
                    <ul class="pagination pull-right">
                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

