@model IEnumerable<EFGesAgro.Models.CustoPrevisto>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RelarioCustoEstimado</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" type="text/css" rel="stylesheet" />
</head>
<body>

    <div>
        <img src="@Server.MapPath("~/Images/logo_rel.jpg")"/>
    </div>
    <h2 style="text-align: center; text-decoration: solid">Relatório - Custo Realizado</h2>
    <hr>________________________________________________________________________________________________________________</hr>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Código")
                    </th>
                    <th>
                        @Html.DisplayName("Talhão")
                    </th>
                    <th>
                        @Html.DisplayName("Propriedade rural")
                    </th>
                    <th>
                        @Html.DisplayName("Cultura")
                    </th>
                    <th>
                        @Html.DisplayName("Safra")
                    </th>
                    <th>
                        @Html.DisplayName("Item")
                    </th>
                    <th>
                        @Html.DisplayName("Valo R$")
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CusPrevCod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Talhao.TlhDes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Talhao.Fazenda.FazNom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Talhao.Cultura.CulNom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Talhao.Safra.SfrDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustoItens.CusItmDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CusPrevVlr)
                    </td>
                </tr>
                  
            }
        </table>
        <hr>________________________________________________________________________________________________________________</hr>
        <h5 style="text-align: center"><b>TOTAL GERAL R$ @Model.Sum(i => i.CusPrevVlr)</b></h5>
    </div>
</body>
</html>


