@model EFGesAgro.Models.Fazenda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Fazenda</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazCod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazCod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazNom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazNom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazDoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazDoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazIns)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazIns)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazTipPes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazTipPes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazNIRF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazNIRF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazAre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazAre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazLat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazLat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazLon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazLon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazPes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazPes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazDat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazDat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazEnd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazBai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazBai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazNro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazNro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazCid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazCid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazEst)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazEst)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazCep)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazCep)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazFone1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazFone1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazCel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazCel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FazFax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FazFax)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
